span.chachipistachi{
    font-style: oblique;
    font-family: Verdana;
    font-weight: 600;
}
span.negrita{
    font-weight: 900;
}
span.nano{
    font-size: xx-small;
}
span.gigante{
    font-size: xx-large;
}
ul {
    list-style-image: url(Img/png-transparent-club-penguin-wiki-puffle-jump-club-penguin-smiley-flower\ \(2\).png);
}